* {
	margin: 0;
	padding: 0;
}

body {
	background: url("images/site-header-bg.png") no-repeat center top;
	font-family: 'PT Sans', sans-serif;
}

a{
	text-decoration: none;
}

header h1 {
	color: white;
	padding: 2px 0 0 0;
}

.main {
	background: white;
}



.main, nav, header {
	width: 960px;
	margin: 0 auto;
}

nav {
	background: #003372;
	margin-top: 176px;
	padding: 10px 0;
	height: 20px;
}

nav a {
	color: white;
	display: inline; 
	padding: 10px;
}

nav a:hover {
	background: black;
}

.searchRecords {
	width: 70%;
	display:inline-block;
	padding: 10px;
	vertical-align:top
}

.highlightRecords {
	width: 25%;
	display:inline-block;
	padding: 10px;
	vertical-align:top
}

.searchForm,.records,.welcome {
	padding: 10px;
}

.welcome p, .welcome h2, .records form,.records h2 {
	padding-bottom: 10px;
}

.searchForm input[type='text'],.searchForm textarea {
	width: 100%;
	font-size: 1em;
	padding: 5px 0;
	margin-bottom: 10px;
}




.searchRecords .individualRecord {
	background: #ddd;
	border: 1px solid #ddd;
	margin: 5px 0;
	padding: 10px;
}

.searchRecords .individualRecord:hover {
	border: 1px solid #bbb;	
}

.title, .abstract, .match {
	padding-bottom: 5px;
}	

.title {
	font-weight: bold;
}

.title:before {
	content: "Title: "
}

.abstract {
	font-style: italic;	
}

.abstract:before {
	content: "Abstract: ";
	font-weight: bold;
} 

.match:before {
	content: "Match: ";
	font-weight: bold;
}

.citation p {
	display: inline;
}

.journal {
	font-style: italic;
}

.volume {
	font-weight: bold;
}

.journal:after, .volume:after, .year:after {
	content: ", ";
}

.expand, #copy, .positionLeft, .positionRight {
	background: #4683ea;
	padding: 10px 20px;
	color: white;
	border: 0;
	outline: none;
	box-shadow: 0 1px 0 #003372,0 2px 0 #003372,0 3px 0 #003372,0 4px 0 #003372;
	border-radius: 5px;
	font-size: 12px;
}

.expand:hover, #copy:hover {
	background: #4683ba;
}

.buttonDiv {
	position: relative;
	height: 25px;
	padding-bottom: 10px;
}

.selectionArea {
	position: relative;
	z-index: 1
}

.positionLeft{
	position: absolute;
	left: 0
}

.positionRight, .right {
	position: absolute;
	right: 0;
	z-index: 1
}

#output h2, #output div {
	padding: 10px 10px 0 10px;
}


.right {
	right: -5px;
	bottom: -40px;
}

.triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 70px 70px;
	border-color: transparent transparent #4682ea transparent;
	position: absolute;
	right: -10px;
	bottom: -45px;
	
}