* {
	margin: 0;
	padding: 0;
}

body {
	background: url("site-header-bg.png") no-repeat center top;
	font-family: 'PT Sans', sans-serif;
}

a{
	text-decoration: none;
}

header h1 {
	color: white;
	padding: 2px 0 0 0;
}

.main {
	background: white;
}



.main, nav, header {
	width: 960px;
	margin: 0 auto;
}

nav {
	background: #003372;
	margin-top: 176px;
	padding: 10px 0;
}

nav a {
	color: white;
	display: inline; 
	padding: 10px;
}

nav a:hover {
	background: black;
}

.searchForm {
	padding: 10px;
}

.searchForm input[type='text'],.searchForm textarea {
	width: 100%;
	font-size: 1em;
	padding: 5px 0;
	margin-bottom: 10px;
}


.records {
	padding: 10px;
}

.records div {
	background: #ddd;
	border: 1px solid #ddd;
	margin: 5px 0;
	padding: 10px;
}

.records div:hover {
	border: 1px solid #bbb;	
}

.title, .abstract {
	padding-bottom: 5px;
}	

.title {
	font-weight: bold;
}

.title:before {
	content: "Title: "
}

.abstract {
	text-decoration: italic;	
}

.abstract:before {
	content: "Abstract: ";
	font-weight: bold;
} 

.match:before {
	content: "Match: ";
	font-weight: bold;
}